<!DOCTYPE html>
<html lang="en">



<body>
    <!-- Flash messages -->
    <div class="flash-container">
        <%- include("../partials/messageTemplate", { messages: messages() }) %>
    </div>

    <!-- Page content -->
    <div class="page-wrapper">

                <main>
                    <h1>
                        <%= title %>
                    </h1>

                    <form class="login-form" action="/account/login" method="POST">
                        <label for="account_email">Email:</label>
                        <input type="email" id="account_email" name="account_email" required />
                    
                        <label for="account_password">Password:</label>
                        <input type="password" id="account_password" name="account_password" required />
                    
                        <button type="submit" class="btn-login">Login</button>
                    
                        <!-- Register button below the form -->
                        <div class="register-btn-container">
                            <a href="/account/register" class="btn-register">Don't have an account? Register here</a>
                        </div>
                    </form>


                    
                </main>

    </div>
</body>

</html>