<header>
    <nav>
        <ul>
            <!-- <li><a href="/">Home</a></li> -->
            <% if (locals.account) { %>
                <li><a href="/account/manage">Welcome <%= locals.account.account_firstname %></a></li>
                <li><a href="/account/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/account/login">My Account</a></li>
                    <% } %>
        </ul>
    </nav>
</header>