<% if (Object.keys(messages).length> 0) { %>
    <div id="flash-messages">
        <% Object.keys(messages).forEach(function(type) { %>
            <% messages[type].forEach(function(message) { %>
                <div class="flash-item <%= type %>">
                    <span>
                        <%= message %>
                    </span>
                    <button class="close-btn" onclick="closeFlash(this)">×</button>
                </div>
                <% }) %>
                    <% }) %>
    </div>
    <% } %>