
<section class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <div class="hero-img">
        <img src="/images/vehicles/delorean.jpg" alt="CSE Motors Vehicles">
    </div>
    <div class="hero-text">
        <h2>DMC Doclean</h2>
        <p>
           3 Cup holders<br> Superman doors<br>Fuzzy dice
        </p>
        <button>Own Today</button>
    </div>
</section>

<section class="inventory">
    <h2>Delorean Upgrades</h2>

    <div class="vehicle-grid">
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
            <figcaption><a href="">Flux Capacitor</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="Flame">
            <figcaption><a href="">Flame Trails</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper-sticker">
            <figcaption><a href="">Bumper Stickers</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
            <figcaption><a href="">Hub Cap</a></figcaption>
        </figure>
    </div>

    <div class="paragraph">
        <h2>DMC Delorean Review</h2>
        
        <ul class="reviews">
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling MCfly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it." (5/5)</li>
        </ul>

       
    </div>
</section>
