
<section class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <div class="hero-img">
        <img src="/images/vehicles/delorean.jpg" alt="CSE Motors Vehicles">
    </div>
    <div class="hero-text">
        <h2>Drive Your Dream Car Today</h2>
        <p>Explore our wide range of vehicles — from sedans to SUVs and trucks.</p>
    </div>
</section>

<section class="inventory">
    <h2>Delorean Upgrades</h2>

    <div class="vehicle-grid">
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="Flame">
            <figcaption>Flame Trails</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper-sticker">
            <figcaption>Bumper Sticker</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
            <figcaption>Hub Cap</figcaption>
        </figure>
    </div>

    <div class="paragraph">
        <h2>DMC Delorean Review</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione optio dolorem excepturi,
            aut dolorum, minus tenetur esse aliquam expedita natus eos iste reiciendis repudiandae totam adipisci!
            Illum fugit rem ipsa. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis sed vel expedita
            illum!
            Sint dicta animi eum necessitatibus eius a ipsa consectetur alias est consequuntur expedita, quis quisquam
            dolore totam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ipsum. Cumque aspernatur dolores odit itaque
            deserunt rerum tempora esse repudiandae voluptate nulla quas iure minus qui voluptatem, fugit saepe
            cupiditate!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut necessitatibus animi nostrum quisquam
            voluptatem.
            Hic consequatur inventore, ad dolorem dolores tempore eum voluptas voluptatum, maiores aperiam sed sint,
            soluta quas?
        </p>
    </div>
</section>
