<main class="container">
    <% if (title) { %>
        <h1 class="page-title">
            <%= title %> 
        </h1>
        <% } %>

            <section class="vehicle-detail-wrapper">
                <%- detail %>
            </section>
</main>